<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>TravleWebsite</display-name>
	<servlet>
		<description></description>
		<display-name>LoginController</display-name>
		<servlet-name>LoginController</servlet-name>
		<servlet-class>travel.website.controllers.LoginController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/LoginController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>BookFlightController</display-name>
		<servlet-name>BookFlightController</servlet-name>
		<servlet-class>travel.website.controllers.BookFlightController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BookFlightController</servlet-name>
		<url-pattern>/BookFlightController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>TripSummaryController</display-name>
		<servlet-name>TripSummaryController</servlet-name>
		<servlet-class>travel.website.controllers.TripSummaryController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TripSummaryController</servlet-name>
		<url-pattern>/TripSummaryController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ConfirmTripController</display-name>
		<servlet-name>ConfirmTripController</servlet-name>
		<servlet-class>travel.website.controllers.ConfirmTripController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConfirmTripController</servlet-name>
		<url-pattern>/ConfirmTripController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>CCPaymentController</display-name>
		<servlet-name>CCPaymentController</servlet-name>
		<servlet-class>travel.website.controllers.CCPaymentController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CCPaymentController</servlet-name>
		<url-pattern>/CCPaymentController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>OneWayController</display-name>
		<servlet-name>OneWayController</servlet-name>
		<servlet-class>travel.website.controllers.OneWayController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OneWayController</servlet-name>
		<url-pattern>/OneWayController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>RoundTripController</display-name>
		<servlet-name>RoundTripController</servlet-name>
		<servlet-class>travel.website.controllers.RoundTripController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RoundTripController</servlet-name>
		<url-pattern>/RoundTripController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>MultiWayController</display-name>
		<servlet-name>MultiWayController</servlet-name>
		<servlet-class>travel.website.controllers.MultiWayController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MultiWayController</servlet-name>
		<url-pattern>/MultiWayController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>TrackFlightController</display-name>
		<servlet-name>TrackFlightController</servlet-name>
		<servlet-class>travel.website.controllers.TrackFlightController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TrackFlightController</servlet-name>
		<url-pattern>/TrackFlightController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>RedeemMileageController</display-name>
		<servlet-name>RedeemMileageController</servlet-name>
		<servlet-class>travel.website.controllers.RedeemMileageController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RedeemMileageController</servlet-name>
		<url-pattern>/RedeemMileageController</url-pattern>
	</servlet-mapping>


</web-app>